.trips-left-col {
    border-right: 1px solid #ddd;
}

.trip-abstract {
    height: 100px;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.trip-abstract:first-child {
    border: 1px solid #ddd;
}

.trip-date {
    font-size: 18px; 
}