<!-- Masthead -->
<header class="masthead text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5 text-white">Benvenuto su CarSEA!<br>Dove vorresti andare?</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form [formGroup]="tripSearch">
                <app-apiautocomplete [config]="autocompleteConfig" formControlName="departureCityPicker" placeholder="Parto da"></app-apiautocomplete>
                <app-apiautocomplete [config]="autocompleteConfig" formControlName="arrivalCityPicker" placeholder="Arrivo a"></app-apiautocomplete>
                <div class="input-group">
                  <input formControlName="datePicker" class="form-control date-picker" placeholder="yyyy-mm-dd"
                    name="datePicker" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="dateChange($event)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <i class="fas fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
                <p></p>
                <button #btnFindTrips (click)="getTrips(btnFindTrips)" class="btn btn-info">Cerca nuovi viaggi</button>
                <p></p>
                <div>
                  <p>Orario: {{ startTime }}h - {{ endTime }}h</p>
                  <nouislider formControlName="timePicker" [config]="timePickerConfig" [min]="0" [max]="24"></nouislider>
                </div>
              </form>
          </div>
      </div>
    </div>
</header>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Cosa dicono di noi..</h2>
      <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/styles/images/testimonials-1.jpg" alt="">
                <h5>FrancescaAsa</h5>
                <p class="font-weight-light mb-0">"Viaggio organizzato all'ultimo ma riuscito con successo!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/styles/images/testimonials-2.jpg" alt="">
                <h5>Marcolino5</h5>
                <p class="font-weight-light mb-0">"Sono riuscito a viaggiare a prezzi molto più bassi rispetto al treno o all'aereo!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/styles/images/testimonials-3.jpg" alt="">
                <h5>Luigina</h5>
                <p class="font-weight-light mb-0">"Grazie!"</p>
            </div>
          </div>
      </div>
    </div>
</section>