/*NAVBAR*/
.top-navbar {
    padding: 10px 0;
    z-index: 9999;
    background-color: #fff;
    position: fixed;
    width: 100%;
}

#nav {
    float: right;
}

#nav ul li {
    padding: 0 10px;
    list-style: none;
    float: right;
    cursor: pointer;
}
/*END NAVBAR*/

/*LOGIN DROPDOWN*/
.dropdown-menu {
    padding: 15px; 
    padding-bottom: 10px;
}

.input-login {
    margin-bottom: 5px;
    padding: 5px;
}
/*END LOGIN DROPDOWN*/