<nav id="nav" class="top-navbar"> 
  <img (click)="homepage()" src="assets/img/carsea-logo.png" height="40" style="float:left; margin-left:20px;">
  <ul *ngIf="!logged" >   
    <li class="dropdown">
        <span class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="icon-user"></span> Login</span>
        <div class="dropdown-menu">
          <form class="form-horizontal"  method="post" accept-charset="UTF-8">
              <input id="login_username" class="input-login" type="text" placeholder="Username.." />
              <input id="login_password" class="input-login" type="password" placeholder="Password.."/>
              <div (click)="login()" class="btn btn-primary input-login" type="submit" name="submit" value="login">Login</div>
              <div (click)="logout()" class="btn btn-primary input-login" type="submit" name="submit" value="login">Logout</div>
          </form>
        </div>
    </li>
    <li>
        <div (click)="signup()" class="btn btn-primary">Iscriviti</div>
    </li>
  </ul>
  <ul *ngIf="logged" > 
    <li>
      <span class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="icon-user"></span> Il profilo di {{ user.Name }} 
      </span>
        <div class="dropdown-menu">
            <div (click)="login()" class="btn btn-primary input-login" type="submit" name="submit" value="login">Login</div>
            <div (click)="logout()" class="btn btn-primary input-login" type="submit" name="submit" value="login">Logout</div>
        </div>
    </li>
  </ul>
</nav>
<div style="height: 58px; display: block;">

</div>