<nav id="nav" class="top-navbar"> 
  <img (click)="homepage()" src="assets/img/carsea-logo.png" height="40" style="float:left; margin-left:20px;">
  <ul>   
    <li class="dropdown">
        <span class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="icon-user"></span>
            <span *ngIf="!logged"> Login</span>
            <span *ngIf="logged"> Il profilo di {{ user.Name }}</span>  
        </span>
        <div class="dropdown-menu">
            <input *ngIf="!logged" id="login_username" class="input-login" type="text" placeholder="Username.." />
            <input *ngIf="!logged" id="login_password" class="input-login" type="password" placeholder="Password.."/>
            <div *ngIf="!logged" (click)="loginFromForm()" class="btn btn-primary " type="submit" name="submit" value="login">Login</div>
            <div *ngIf="logged" class="btn btn-link">Impostazioni</div><br>
            <div *ngIf="logged" (click)="logoutFromForm()" class="btn btn-link" type="submit" name="submit" value="login">Logout</div>
        </div>
    </li>
    <li>
        <div *ngIf="!logged" (click)="signup()" class="btn btn-primary">Iscriviti</div>
    </li>
  </ul>
</nav>
<div style="height: 58px; display: block;">
   
</div>
<div style="height: 58px; display: block;">
    Il profilo di {{ user.Name }}
</div>