<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="formGroup">
      <div class="row gray-tile">
        <div class="col-9">
          <span>Seleziona il prezzo per persona</span>
        </div>
        <div class="col-3 text-right">
            <span>€ </span><input type="number" step="0.5" formControlName="pricePicker">
        </div>
      </div>
      <div class="row gray-tile margin-top-20">
        <div class="col-9">
          <span>Seleziona il numero di posti disponibili</span>
        </div>
        <div class="col-3 text-right">
          <input type="number" step="0.5" formControlName="seatsPicker">
        </div>
      </div>
      <div class="row gray-tile margin-top-20">
        <div class="col-sm-12">
          <span>Inserisci una descrizione per il tuo viaggio</span>
        </div>
        <div class="col-sm-12">
          <textarea formControlName="descriptionPicker"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
  <agm-map        
    [latitude]="allMarkers[0].lat" 
    [longitude]="allMarkers[0].lng" 
    [zoom]="10" 
    [mapTypeControl]="true" 
    [gestureHandling]="greedy" 
    [fitBounds]="bounds">
      <agm-marker 
        *ngFor="let mark of allMarkers; let i = index"
        [latitude]="mark.lat" 
        [longitude]="mark.lng" 
        [label]="app.shared.constantsService.alphabet[i]">
      </agm-marker>
      <agm-polyline [strokeColor]="'#2196f3'">
        <agm-polyline-point *ngFor="let poly of polyArray" [latitude]="poly.lat()" [longitude]="poly.lng()"></agm-polyline-point>
      </agm-polyline>
    </agm-map>
  </div>
</div>
<form [formGroup]="formGroup" (ngSubmit)="saveTrip()">
  <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary" style="margin-top:20px">
    <span class="button-text-left">Prosegui </span><i class="fas fa-arrow-circle-right"></i>
  </button>
</form>

<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Login necessario</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Per poter pubblicare il passaggio, è necessario effettuare il login o iscriversi.</p>
    <p>Per effettuare l'iscrizione <span>clicca qui</span></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Chiudi</button>
  </div>
</ng-template>