<div class="row">
  <div class="col-sm-6">
    <div class="row gray-tile">
      <div class="col-9">
        <span>Seleziona il prezzo per persona</span>
      </div>
      <div class="col-3 text-right">
          <span>€ </span><input type="number" step="0.5">
      </div>
    </div>
    <div class="row gray-tile margin-top-20">
      <div class="col-9">
        <span>Seleziona il numero di posti disponibili</span>
      </div>
      <div class="col-3 text-right">
        <input type="number" step="0.5">
      </div>
    </div>
    <div class="row gray-tile margin-top-20">
      <div class="col-sm-12">
        <span>Inserisci una descrizione per il tuo viaggio</span>
      </div>
      <div class="col-sm-12">
        <textarea></textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
  <agm-map        
    [latitude]="allMarkers[0].lat" 
    [longitude]="allMarkers[0].lng" 
    [zoom]="10" 
    [mapTypeControl]="true" 
    [gestureHandling]="greedy" 
    [fitBounds]="bounds">
      <agm-marker 
        *ngFor="let mark of allMarkers; let i = index"
        [latitude]="mark.lat" 
        [longitude]="mark.lng" 
        [label]="app.shared.constantsService.alphabet[i]">
      </agm-marker>
      <agm-polyline [strokeColor]="'#2196f3'">
        <agm-polyline-point *ngFor="let poly of polyArray" [latitude]="poly.lat()" [longitude]="poly.lng()"></agm-polyline-point>
      </agm-polyline>
    </agm-map>
  </div>
</div>
