<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('styles/images/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Offri un passaggio</h2>
        <a routerLink="/newtrip/pathchooser">
            <p class="lead mb-0">Seleziona la città di partenza e quella di arrivo</p>
        </a>
      </div>
    </div>
  </div>
</section>