<footer class="footer bg-light">
    <div style="padding-left: 10px; padding-right: 10px;">
        <span>Clicca sui link per scaricare:</span>
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="/documentazione/RichiestaRealizzazioneWebApplication.pdf" download>Richiesta cliente</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="/documentazione/RelazioneTecnicaWebApplicationCarSEA.pdf">Relazione tecnica</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="/documentazione/SorgentiCARSea.7z">Sorgenti</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">Studente: Gianmattia Gherardi</p>
                <p class="text-muted small mb-4 mb-lg-0">Matricola: STA07049/L8</p>
                <p class="text-muted small mb-4 mb-lg-0">Repository: 
                    <a href="https://github.com/ggherardi/CarSEA" target="_blank">https://github.com/ggherardi/CarSEA</a>
                </p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                <a href="#">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                    </li>
                    <li class="list-inline-item mr-3">
                <a href="#">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                    </li>
                    <li class="list-inline-item">
                <a href="#">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>