/*NAVBAR*/
.top-navbar {
    position: sticky; 
    top: 0; 
    z-index: 9999;
    background-color: #fff;
    /* width: 100%; */
}

.top-navbar ul li {
    padding: 0 10px;
    list-style: none;
    cursor: pointer;
}

.top-navbar-rightarea {
    padding: 8px 0;
}
/*END NAVBAR*/

/*LOGIN DROPDOWN*/
.dropdown-menu {
    padding: 15px; 
    padding-bottom: 10px;
}

.input-login {
    margin-bottom: 5px;
    padding: 5px;
}
/*END LOGIN DROPDOWN*/