/*NAVBAR*/
.top-navbar {
    position: sticky; 
    top: 0; 
    z-index: 5;
    background-color: #fff;
}

.top-navbar-rightarea {
    position: absolute;
}

.logo-container {
    margin-top: 5px;
}

.logo {
    cursor: pointer;
}
/*END NAVBAR*/

/*LOGIN DROPDOWN*/
.login-dropdown {
    position: absolute;
    top: 10px;
    right: 0;
}

.dropdown-menu {
    left: auto!important;
    right: 0!important;
    padding: 15px; 
    padding-bottom: 10px;
}

.input-login {
    padding-bottom: 5px;
}
/*END LOGIN DROPDOWN*/