<div class="top-navbar flex-container-row">
    <div style="flex-grow: 1">
        <app-sidebar></app-sidebar>
    </div>
    <div class="logo-container" style="flex-grow: 8">
        <img (click)="homepage()" src="assets/img/carsea-logo-notext.png" height="45" class="logo">
    </div>
    <!-- <div class="flex-container top-navbar-rightarea"> -->
    <div ngbDropdown class="d-inline-block login-dropdown" style="flex-grow: 1">
        <button class="btn btn-primary" ngbDropdownToggle>
            <span *ngIf="logged">Bentornato, {{ user.Name }}!</span>
            <span *ngIf="!logged">Accedi</span>
        </button>
        <div ngbDropdownMenu>
            <div class="spinner-container">
                <form *ngIf="!logged" id="form-login" [formGroup]="loginForm" class="form-group flex-container-column" (ngSubmit)="loginFromForm(loginForm)">
                    <input formControlName="username" class="form-control" type="text" placeholder="Username.." />
                    <input formControlName="password" class="form-control" type="password" placeholder="Password.."/>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
                <spinner-component [spinnerShow]="showSpinnerLoader"></spinner-component>
            </div>         
            <div *ngIf="logged">
                <button class="dropdown-item" (click)="logoutFromForm()">Logout</button>
            </div>
            <div *ngIf="!logged">
                <div (click)="signup()" class="btn btn-outline-primary width-100">Iscriviti</div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>