<div class="row">
  <div class="col-12 col-sm-3">
    <div>
      <form [formGroup]="filtersFormGroup">
        <app-apiautocomplete [config]="autocompleteConfig" formControlName="departureCityPicker" placeholder="Parto da"></app-apiautocomplete>
        <app-apiautocomplete [config]="autocompleteConfig" formControlName="arrivalCityPicker" placeholder="Arrivo a"></app-apiautocomplete>
        <p>Data di partenza:</p>
        <div class="input-group">
          <input formControlName="datePicker" class="form-control date-picker" placeholder="yyyy-mm-dd"
            name="datePicker" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="dateChange($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
        </div>
        <p></p>
        <button #btnFindTrips (click)="getTrips(btnFindTrips)" class="btn btn-info">Cerca nuovi viaggi</button>
        <p></p>
        <p>Filtra i risultati trovati:</p>
        <p></p>
        <div>
          <p>Orario: {{ startTime }}h - {{ endTime }}h</p>
          <nouislider formControlName="timePicker" (ngModelChange)="timeChange($event)" [config]="timePickerConfig" [min]="0" [max]="24"></nouislider>
        </div>
        <div *ngIf="!storedTrips.length == 0">
          <p>Prezzo: max {{ selectedPrice }}€</p>
          <nouislider formControlName="pricePicker" (ngModelChange)="priceChange($event)" [config]="pricePickerConfig" [min]="0" [max]="maxPrice"></nouislider>
        </div>
      </form>
    </div>
    <p></p>
  </div>
  <div class="col-12 col-sm-8 offset-sm-1">
    <div id="trips-column">
      <div *ngIf="allTrips.length < 1" class="text-center">Nessun risultato</div>
      <div *ngFor="let trip of allTrips | paginate: { itemsPerPage: 5, currentPage: p }" class="trips-repeater-row">
        <app-tripabstract [Trip]="trip"></app-tripabstract>
      </div>
    </div>
    <div class="pagination-row">
      <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
    </div>
  </div>
</div>
