.chat-box {
    max-width: 50%;
}

.chat-time {
    font-size: 10px;
}

.own {
    float: right;
    background-color: #deffcc;
}

.others {
    float: left;
    background-color: #e4e4e4;
}

.messages, .conversations {
    height: 500px;
    overflow-y: auto;
}

.messages {
    height: 452px;
}

.messages .list-group .list-group-item {
    border: none;
}

.input-card {
    height: 48px;
}

.input-card .card-body  {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .btn-send-message {
        margin-left: -20px!important;
    }

    .chat-box {
        max-width: 90%;
    }
}