<div class="row">
  <div class="col-sm-4">
    <div class="conversations card">
      <ul class="list-group list-group-flush">
        <ng-container *ngFor="let conversation of allConversations">
          <li class="list-group-item cursor-pointer background-hover-green" (click)="selectConversation(conversation)">
            {{conversation.ConversationTitle}}
          </li>
        </ng-container>
      </ul>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div #messagesContainer class="messages card">
        <ul class="list-group list-group-flush">
          <ng-container *ngFor="let message of allMessages">
            <li class="list-group-item">
              <div class="card chat-box"  
                [ngClass]="message.ConversationParticipantID === selectedConversation.ConversationParticipantID ? 'own' : 'others'">
                  <div class="card-body">
                    {{message.ConversationMessage}}
                    <blockquote class="blockquote mb-0">        
                      <footer class="blockquote-footer">
                        <cite title="Source Title">{{message.ConversationTimestamp | date:'EEEE d MMMM - HH:mm':'':'it' }}</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
              <!-- <div class="chat-box" [ngStyle]="{'background-color': true ? 'green' : 'red'}">

              </div> -->
            </li>
          </ng-container>
        </ul>
      <div class="card-body">
      </div>
    </div>
    <div class="card input-card">
      <div class="card-body">
        <form class="form-group" (ngSubmit)="sendMessage(messageControl.value)">
          <div class="row">
            <div class="col-10">
              <input [formControl]="messageControl" type="text" class="form-control" validate>
            </div>
            <div class="col-2">
              <button [disabled]="!messageControl.valid" class="btn btn-light btn-send-message" type="submit">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>