<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div id="form-signup" class="col-lg-4 offset-lg-4">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-12">
              <!-- <input id="signup_name" [(ngModel)]="data.Name" class="input-login" type="text" placeholder="Nome" /> -->
            <input id="signup_name" class="input-login" type="text" placeholder="Nome" />
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <input id="signup_surname" class="input-login" type="text" placeholder="Cognome" />
          </div>
        </div> 
        <input id="signup_email" class="input-login" type="text" placeholder="Email" />
        <input id="signup_password" class="input-login" type="text" placeholder="Password" />
        <input id="signup_password_confirm" class="input-login" type="text" placeholder="Conferma Password" />
        <div class="btn btn-primary">Iscriviti!</div>
      </div>
    </div>
  </div>
</section>