/* You can add global styles to this file, and also import other style files */
body {
  width: 80%;
  margin: 0 auto;
}

input {
  height: 25px;
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time], input[type=number] {
  -webkit-appearance: button-bevel;
}

input[type=number] {
  text-align: right;
  max-width: 50px;
}

textarea {
  width: 100%;
}

.btn {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.page-title {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.gray-tile {
  background-color: #f1f1f1;
  border: solid 1px #d2d2d2;
  padding: 15px 15px;
}

.gray-tile p {
  margin-top: 10px;
  font-weight: bold;
}

.btn:focus, .btn:active {
  box-shadow: none!important;
}

.button-text-left {
  margin-right: 5px;
}

.button-text-right {
  margin-left: 5px;
}

.pull-right {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}