/* You can add global styles to this file, and also import other style files */
/* Verde generico: #17a2b8 */
body {
  width: 80%;
  margin: 0 auto;
}

button:focus {
  outline: none!important;

}

input[type=number] {
  height: 25px;
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time], input[type=number] {
  -webkit-appearance: button-bevel;
}

input[type=number] {
  text-align: right;
  max-width: 50px;
}

textarea {
  width: 100%;
}

/* CLASSES */
/* Flex Container */
.flex-container-row{
  display: flex;
  flex-direction: row;
}
.flex-container-column {
  display: flex;
  flex-direction: column
}

/* Generics */
.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.brand-green-color {
  color: #17a2b8!important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.inline-block {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.show > * {
  box-shadow: none!important;
} 

.cuppa-menu-overlay {
  z-index: 4;
}

.page-title {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.background-green {
  background-color: #17a2b8;
  color: #fff;
}

.background-hover-green:hover {
  background-color: #17a2b8;
  color: #fff;
}

.gray-tile {
  background-color: #f1f1f1;
  padding: 15px 15px;
}

.gray-tile p {
  margin-top: 10px;
  font-weight: bold;
}

.btn:focus, .btn:active {
  box-shadow: none!important;
}

.button-text-left {
  margin-right: 5px;
}

.button-text-right {
  margin-left: 5px;
}

.pull-right {
  text-align: right;
}

.ng2-pagination li {
  cursor: pointer!important;
}

/* Spinner Loader */
.spinner-container {
  position: relative;
}

.sc-background {
  z-index: 50!important;
}

.sc-default-spinner {
  z-index: 51!important;
}
/* End Spinner Loader */

/* Bootstrap Dropdown */
.dropdown-item {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}