<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <form id="form-signup" [formGroup]="signupForm" (ngSubmit)="signup()" class="col-lg-4 offset-lg-4">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-12 form-control-row">
              <input name="name" formControlName="name" type="text" placeholder="Nome *" class="form-control" />
              <div 
                *ngIf="sFormControls.name.invalid && (sFormControls.name.dirty || sFormControls.name.touched)" 
                class="alert alert-danger" style="font-size:12px;">Campo obbligatorio
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-12 form-control-row">
              <input name="surname" formControlName="surname" type="text" placeholder="Cognome *" class="form-control" />
              <div 
                *ngIf="sFormControls.surname.invalid && (sFormControls.surname.dirty || sFormControls.surname.touched)" 
                class="alert alert-danger" style="font-size:12px;">Campo obbligatorio
              </div>
            </div>
          </div> 
          <div class="form-group">
            <input formControlName="username" type="text" placeholder="username *" class="form-control" />
            <div 
              *ngIf="sFormControls.username.invalid && (sFormControls.username.dirty || sFormControls.username.touched)" 
              class="alert alert-danger" style="font-size:12px;">Campo obbligatorio
            </div>
          </div>
          <div class="form-group">
            <input formControlName="email" type="text" placeholder="Email *" class="form-control" />
            <div 
              *ngIf="sFormControls.email.invalid && (sFormControls.email.dirty || sFormControls.email.touched)" 
              class="alert alert-danger" style="font-size:12px;">Campo obbligatorio
            </div>
          </div>
          <div class="form-group">
            <input formControlName="password" type="text" placeholder="Password *" class="form-control" />
            <div 
              *ngIf="sFormControls.password.invalid && (sFormControls.password.dirty || sFormControls.password.touched)" 
              class="alert alert-danger" style="font-size:12px;">Campo obbligatorio
            </div>
          </div>
          <div class="form-group">              
            <input formControlName="passwordConfirm" type="text" placeholder="Conferma Password *" class="form-control" />
            <div 
              *ngIf="sFormControls.passwordConfirm.value != sFormControls.password.value && sFormControls.passwordConfirm.touched" 
              class="alert alert-danger" style="font-size:12px;">Le password devono coincidere
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="!signupForm.valid" class="btn btn-default" type="submit">Registrati</button><br>
          </div>
          <div *ngIf="signupError != 0" [ngSwitch]="signupError" class="alert alert-danger" style="font-size:12px;">
            <div>              
            </div>
            <span *ngSwitchCase="-1">L'email e lo username inseriti sono già presenti in archivio</span>
            <span *ngSwitchCase="-2">Lo username è già presente in archivio</span>
            <span *ngSwitchCase="-3">L'email è già presente in archivio</span>
            <span *ngSwitchCase="-4">Si è verificato un errore durante la registrazione, si prega di riprovare</span>
          </div>
          <!-- <div>{{ signupForm.status | json }}</div> -->
        </div>      
      </form>
    </div>
  </div>
</section>